USE [master]
GO
/****** Object:  Database [TextCorpuses]    Script Date: 02.04.2026 20:53:36 ******/
CREATE DATABASE [TextCorpuses]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TextCorpuses', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TextCorpuses.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TextCorpuses_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TextCorpuses_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TextCorpuses].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TextCorpuses]
GO
/****** Object:  User [airflow]    Script Date: 02.04.2026 20:53:37 ******/
CREATE USER [airflow] FOR LOGIN [airflow] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[IPProxy]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPProxy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IP] [nchar](150) NOT NULL,
	[Port] [int] NOT NULL,
	[LastChecked] [int] NOT NULL,
	[IsBroken] [bit] NOT NULL,
 CONSTRAINT [PK_IPProxy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PdfDocuments]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PdfDocuments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PDFUrl] [nvarchar](max) NOT NULL,
	[LocationInFileSystem] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PdfDocuments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProxyProtocols]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProxyProtocols](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Protocol] [nchar](20) NULL,
 CONSTRAINT [PK_ProxyProtocols] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relIpProxyProxyProtocols]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relIpProxyProxyProtocols](
	[IPProxyID] [int] NOT NULL,
	[ProxyProtocolId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceState]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceState](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[State] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ServiceState] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[relIpProxyProxyProtocols]  WITH CHECK ADD  CONSTRAINT [FK_relIpProxyProxyProtocols_IPProxy] FOREIGN KEY([IPProxyID])
REFERENCES [dbo].[IPProxy] ([ID])
GO
ALTER TABLE [dbo].[relIpProxyProxyProtocols] CHECK CONSTRAINT [FK_relIpProxyProxyProtocols_IPProxy]
GO
ALTER TABLE [dbo].[relIpProxyProxyProtocols]  WITH CHECK ADD  CONSTRAINT [FK_relIpProxyProxyProtocols_ProxyProtocols] FOREIGN KEY([ProxyProtocolId])
REFERENCES [dbo].[ProxyProtocols] ([ID])
GO
ALTER TABLE [dbo].[relIpProxyProxyProtocols] CHECK CONSTRAINT [FK_relIpProxyProxyProtocols_ProxyProtocols]
GO
/****** Object:  StoredProcedure [dbo].[AddOrUpdateProxy]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddOrUpdateProxy]
	-- Add the parameters for the stored procedure here
	@ip nvarchar(150) ,
	@port int,
	@lastChecked int,
	@protocols nvarchar(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
	if exists(select * from [dbo].IPProxy where [IP] = @ip and [Port] = @port and lastChecked<@lastChecked)
	begin
		update [dbo].IPProxy
		set lastChecked = @lastChecked, IsBroken = 0
		where [IP] = @ip and [Port] = @port
	end

	if not exists (select * from [dbo].IPProxy where [IP] = @ip)
	begin
		insert into [dbo].IPProxy
		values(@ip, @port, @lastChecked, 0)
	end
	create table #ipProtocols(protocol nvarchar(25))
	insert into #ipProtocols
	SELECT VALUE FROM STRING_SPLIT(@protocols, ',');

	insert into dbo.ProxyProtocols(Protocol)
	select p.protocol from #ipProtocols p
	left join dbo.ProxyProtocols pp on p.protocol = pp.Protocol
	where pp.Protocol is null

	insert into dbo.relIpProxyProxyProtocols
	select prox.ID, prot.ID from
	(select * from [dbo].IPProxy where [IP] = @ip and [Port] = @port) prox 
	left join (select * from dbo.ProxyProtocols where protocol in (select * from #ipProtocols)) prot on 1=1


	drop table #ipProtocols
END
GO
/****** Object:  StoredProcedure [dbo].[AddPdfUrl]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddPdfUrl]
	-- Add the parameters for the stored procedure here
	@url nvarchar(max) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if not exists(select * from dbo.PdfDocuments where PdfUrl = @url)
	begin
		insert into dbo.PdfDocuments
		values(@url, '')
	end
END
GO
/****** Object:  StoredProcedure [dbo].[GetLatestProxy]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetLatestProxy]	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP 1 [IP], [Port], protocols.Protocol from [dbo].[IPProxy] proxy
	inner join dbo.relIpProxyProxyProtocols rel on proxy.ID = rel.IPProxyId
	INNER JOIN dbo.ProxyProtocols protocols on rel.ProxyProtocolId = protocols.ID
	where proxy.IsBroken = 0
	order by proxy.lastChecked  desc
END
GO
/****** Object:  StoredProcedure [dbo].[GetPdfToDownload]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetPdfToDownload] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select top 1 PDFUrl from dbo.PdfDocuments where LocationInFileSystem = ''
END
GO
/****** Object:  StoredProcedure [dbo].[GetServiceState]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetServiceState]
	-- Add the parameters for the stored procedure here
	@serviceID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [State] from dbo.ServiceState where ServiceId = @serviceID
END
GO
/****** Object:  StoredProcedure [dbo].[MarkProxyAsBroken]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MarkProxyAsBroken]
	-- Add the parameters for the stored procedure here
	@ip nvarchar(150)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.IPProxy
	set IsBroken = 1
	where IP = @ip
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveServiceState]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RemoveServiceState]
	-- Add the parameters for the stored procedure here
	@serviceId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	delete from dbo.ServiceState where ServiceId = @serviceId
END
GO
/****** Object:  StoredProcedure [dbo].[SavePdfFileLocation]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SavePdfFileLocation]
	-- Add the parameters for the stored procedure here
	@pdfUrl nvarchar(max),
	@fileLocation nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE dbo.PdfDocuments
	set LocationInFileSystem=@fileLocation where PdfUrl = @pdfUrl
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateState]    Script Date: 02.04.2026 20:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateState] 
	-- Add the parameters for the stored procedure here
	@serviceID int, 
	@state nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if exists(select * from [dbo].ServiceState where [ServiceID] = @serviceID)
	begin
		update [dbo].ServiceState
		set [State] = @state
		where [ServiceID] = @serviceID
	end

	if not exists (select * from [dbo].ServiceState where [ServiceID] = @serviceID)
	begin
		insert into [dbo].ServiceState
		values(@serviceID, @state)
	end
END
GO
USE [master]
GO
