USE [TextCorpuses]
GO
/****** Object:  Table [dbo].[LatexDocuments]    Script Date: 20.04.2026 11:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LatexDocuments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PDFLocation] [nvarchar](max) NOT NULL,
	[LatexLocation] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LatexDocuments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetPDFLocationForLatexConvertation]    Script Date: 20.04.2026 11:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetPDFLocationForLatexConvertation]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	
	declare @pdfUrl as nvarchar(max)
    -- Insert statements for procedure here
	SELECT TOP 1 @pdfUrl = LocationInFileSystem from dbo.PdfDocuments pdfs
	left join dbo.LatexDocuments latex on  pdfs.LocationInFileSystem = latex.PDFLocation
	where latex.ID is null or latex.LatexLocation = ''

	if not exists(select * from dbo.LatexDocuments where PDFLocation = @pdfUrl)
	begin
		insert into dbo.LatexDocuments(PDFLocation, LatexLocation)
		values(@pdfUrl, '')
	end

	
	select @pdfUrl
END
GO
/****** Object:  StoredProcedure [dbo].[SaveLatexDocumentLocation]    Script Date: 20.04.2026 11:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SaveLatexDocumentLocation]
	-- Add the parameters for the stored procedure here
	@pdfUrl nvarchar(max),
	@latexLocation nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE dbo.LatexDocuments
	set LatexLocation=@latexLocation where PdfLocation = @pdfUrl
END
GO
